In [2]:
import pandas as pd
import time
from Splitter_v2 import *


start = time.time()
print("Loading file:")
playlists = pd.read_csv("../spotify/playlists.csv", delimiter='\t')
interactions = pd.read_csv("../spotify/interactions.csv", delimiter='\t')
tracks = pd.read_csv("../spotify/tracks.csv", delimiter='\t')
end = time.time()
print(str(end-start) + "s")

start = time.time()
print("Splitting dataset:")
train_playlists, train_interactions, test_playlists, test_interactions, \
    eval_interactions = split_dataset(playlists, interactions, tracks)
end = time.time()
print(str(end-start) + "s")

Loading file:
38.171228885650635s
Splitting dataset:
cat5 done
cat4 done
cat2 done
cat10 done
cat9 done
cat3 done
cat7 done
cat8 done
cat6 done
cat1 done
293.1482470035553s

In [3]:
len(set(train_playlists['pid']))

990000

In [4]:
len(set(train_interactions['pid']))

990000

In [5]:
len(set(test_playlists['pid']))

10000

In [6]:
len(set(test_interactions['pid']))

9000

In [7]:
len(set(eval_interactions['pid']))

10000

In [8]:
eval_interactions.head()

      pid   tid  pos  arid
0     489  2117   10  1100
1  356529  2117   53  1100
2  650040  2117   10  1100
3   31611  2117   27  1100
4  313121  2117   20  1100